<div class="container bg-light p-1 mt-2 text-dark border border-5 border-success text-center">
    <h2><i class="fa-brands fa-node text-success"></i> NodeJS Computer Info</h2>
    Information about hardware and OS</span>
</div>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-brands fa-node-js text-success"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" title="Home">
                <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item" title="Operational System">
            <a class="nav-link active" aria-current="page" href="/os"><i class="fa-solid fa-computer"></i> OS</a>
          </li>
          <li class="nav-item" title="Central Processing Unit">
            <a class="nav-link active" aria-current="page" href="/cpu"><i class="fa-solid fa-microchip"></i> CPU</a>
          </li>
          <li class="nav-item" title="Memory">
            <a class="nav-link active" aria-current="page" href="/memory"><i class="fa-solid fa-memory"></i> Memory</a>
          </li>
        </ul>                
      </div>
    </div>
</nav>