<%- include('./partials/head.ejs') %>
<body>
    
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <h1 class="text-center mt-3">404 - Page Not Found</h1>
        <h1 class="text-center mt-3">
            <i class="fa-solid fa-road-circle-xmark text-danger fa-5x"></i>
        </h1>
        <p class="text-center fw-bold">
            This route is not allowed. Try another one.
        </p>
    </div>

</body>

</html>